@import './../../css/App.css';

.nav_container {
    position: sticky;
    top: 0;
    font-family: 'Pretendard-Regular';
    background-color: white; /* 변경하고 싶은 색상으로 대체 */
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.div_text {
    display: flex; 
}

.img_logo {
  padding: 10px;
}

.logo_left {
    cursor: pointer;
    user-select: none; /* 드래그 방지 */
  }

  .div_text {
    padding-right: 1%;
  }

  .div_text ul {
    list-style-type: none; /* ul 내부의 li 태그에서 점을 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
    display: flex; /* 항목들을 수평으로 배치 */
    gap: 30px; /* 항목들 사이의 간격 지정 */
}

