@import "./../../css/App.css";

/* 메인화면 가득 채우기 */
.full-screen-container {
  align-items: center;
  height: 100%;
  background-color: #fafafa;
}
/* 버튼 css */
.next_button {
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  border: none;
  background-color: var(--green-color);
  width: 100vw;
  height: 50px;
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  margin-top: 3%;
  content: "다음";
}

/* 입력 안내 문구 */
.main_alert {
  margin-top: 11px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: var(--green-color);
}
/* 스와이퍼 박스 css */
.box-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-top: 5%;
  margin-left: 25%;
  height: 50%;
  width: 50%;
  border: 3px solid #ccc;
  border-radius: 15px;
}
.gender-swiper-container {
  margin-top: 25%;
  width: 100px;
  height: 50px;
  font-size: 30px;
}
.swiper_box {
  width: 100%;
  height: 100%;
  text-align: center;
}

.input_info {
  margin-top: 20%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ccc;
  background-color: #fafafa;
  width: 50px;
  font-size: 25px;
  text-align: center;
}

.input_info_01 {
  margin-top: 20%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ccc;
  background-color: #fafafa;
  width: 50px;
  font-size: 25px;
  text-align: center;
}

/* 마지막 페이지 버튼 */

.link_div {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.Links {
  background-color: none;
  color: var(--green-color);
  font-size: 30px;
  padding: 10px;
  margin-bottom: 100px;
  font-weight: bolder;
}

@media (max-width: 880px) {
  /* 메인화면 가득 채우기 */
  .full-screen-container {
    height: 100vh;
  }

  .next_button {
    text-decoration: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    border: none;
    background-color: var(--green-color);
    width: 100vw;
    height: 50px;
    font-size: 30px;
    font-weight: bolder;
    color: aliceblue;
    margin-top: 3%;
    content: "다음";
  }

  /* 입력 안내 문구 */
  .main_alert {
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: var(--green-color);
  }

  /* 스와이퍼 박스 css */
  .box-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 5%;
    margin-left: 30%;
    height: 50%;
    width: 40%;
    border: 3px solid #ccc;
    border-radius: 15px;
  }
}
/* 항목 미기입시 버튼 */
.button_none {
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  border: none;
  background-color: beige;
  width: 100vw;
  height: 50px;
  font-size: 30px;
  font-weight: bolder;
  color: green;
  margin-top: 3%;
}

/* 마지막 페이지 버튼 */
.button_name {
  width: 100%;
}

/* 마지막 페이지 인풋 박스 */

.input_name {
  margin-top: 100px;
  background: none;
  border: none;
  border-bottom: 2px solid green;
  width: 200px;
  font-size: 24px;
  text-align: center;
}

/*  안내문구 스타일 */

.span_enlarge {
  font-size: 16px;
  font-weight: bolder;
  color: green;
}
