.top_css {
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  align-items: center;
  text-align: center;
}

.top_ment {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.img_logo_1 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px; /* 원하는 크기로 조정 */
  height: auto;
}
