@import './../css/App.css';

/* 기본 스타일 */
.main_top {
    display: flex; /* div태그 한줄로 */
    user-select: none; /* 드래그 방지 */
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    background-color: white;
}

.top_div {
    margin-right: 1%;
}

.font_top {
    font-family: 'Pretendard-Regular';
}

.top_1 {
    font-size: 80px;
    color: var(--green-color);
    font-weight: bold; /* 텍스트를 굵게 설정 */
}

.top_2 {
    font-size: 50px;
    font-weight: bold; /* 텍스트를 굵게 설정 */
}

.top_3 {
    padding-top: 10px;
    padding-bottom: 20px;
}

.img_main {
    margin-left: 1%;
    transition: opacity 0.5s ease; /* 이미지 숨김/보임 효과를 부드럽게 */
}

.top_button {
    display: inline-block; /* 인라인 블록 요소로 설정하여 텍스트 크기에 맞춰 너비 조정 */
    padding: 20px 30px; /* 내부 여백 설정 */
    background-color: var(--brown-color);  /* 배경색 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    font-size: 20px; /* 폰트 크기 설정 */
    font-weight: bold; /* 폰트 굵기 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    cursor: pointer; /* 커서를 포인터로 변경하여 마우스 호버 시 시각적 효과 추가 */
    border-radius: 5px; /* 모서리를 둥글게 만들기 */
    transition: background-color 0.3s, color 0.3s; /* 배경색과 텍스트 색상에 대한 변화를 부드럽게 적용하기 위한 트랜지션 설정 */
}

.main_mid {
    padding-top:3%;
    padding-bottom: 5%;
    background-color: var(--gray-color);
}

.main_line {
    padding-top: 3%;
}


.font_mid{
    font-family: 'Pretendard-Regular';
    text-align: center;
}

.mid_1 {
    font-family: 'TTLaundryGothicB';
    font-size: 50px;
    padding-bottom: 1%;
    font-weight: bold; /* 텍스트를 굵게 설정 */
}

.mid_2 {
    font-family: 'SUITE-Regular';
    font-size: 30px;
    padding-bottom: 3%;
}


.mid_area_button {
    padding-left: 20%;
    padding-right: 20%;
}

.mid_area_1 {
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}

.mid_area_2 {
    display: flex;
    justify-content: center;
}

.mid_button {
    display: flex; /* div태그 한줄로 */
    box-shadow: 1px 1px 3px 0  rgb(163, 163, 163); /* 그림자 효과 */
    width: 500px;
    background-color: white;
    color: black; /* 텍스트 색상 설정 */
    font-weight: bold; /* 폰트 굵기 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */  
    cursor: pointer; /* 커서를 포인터로 변경하여 마우스 호버 시 시각적 효과 추가 */
    border-radius: 5px; /* 모서리를 둥글게 만들기 */
    transition: background-color 0.3s, color 0.3s; /* 배경색과 텍스트 색상에 대한 변화를 부드럽게 적용하기 위한 트랜지션 설정 */
}

.button_1_1{
    font-size: 20px;
}

.main_bottom_1 {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.bottom_div {
    font-family: 'Pretendard-Regular';
}


.bottom_text_1_1 {
    font-size: 30px;
    color:var(--green-color);
    margin-bottom:20px;
}

.bottom_text_1_2 {
    font-size: 50px;
    color:black;
    font-weight: bold; 
    margin:0px;
}

.bottom_text_1_3 {
    font-size: 20px;
    color: gray;
}

.text_top_css {
    margin-top:30px;
}

.main_bottom_2 {
    font-family: 'Pretendard-Regular';
    text-align: center;
    margin-top:10%;
    margin-bottom:5%;
}

.bottom_text_2_1 {
    margin:0px;
    font-size: 40px;
    font-weight: bold; 
}

.bottom_text_2_2 {
    font-size: 30px;
    font-weight: bold; 
    color: var(--green-color);
}

.bottom_div_img {
    display: flex; /* Flexbox를 활성화 */
    flex-direction: column; /* 수직 방향으로 요소를 배치 */
    justify-content: center; /* 가로 축에서 중앙 정렬 */
    align-items: center; /* 세로 축에서 중앙 정렬 */
    height: 100%; /* div의 높이 설정, 필요에 따라 조정 */
    margin-bottom: 10%; /* 하단 여백 설정 */
}

.bottom_image {
    max-width: 100%; /* 이미지가 div를 넘지 않도록 설정 */
    width: 900px;
    height: auto; /* 이미지의 비율을 유지하면서 높이 자동 조정 */
}

.bottom_button {
    margin-top:5%;
    display: inline-block; /* 인라인 블록 요소로 설정하여 텍스트 크기에 맞춰 너비 조정 */
    padding: 30px 50px; /* 내부 여백 설정 */
    background-color: var(--green-color);  /* 배경색 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    font-size: 20px; /* 폰트 크기 설정 */
    font-weight: bold; /* 폰트 굵기 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    cursor: pointer; /* 커서를 포인터로 변경하여 마우스 호버 시 시각적 효과 추가 */
    border-radius: 5px; /* 모서리를 둥글게 만들기 */
    transition: background-color 0.3s, color 0.3s; /* 배경색과 텍스트 색상에 대한 변화를 부드럽게 적용하기 위한 트랜지션 설정 */
}

/* 모바일 화면에서 이미지 숨기기 */
@media (max-width: 640px) {
    *{
        text-align: center;
    }
    .img_main {
        display: none; /* 화면이 768px 이하일 때 이미지 숨기기 */
    }
    .top_div {
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .main_mid {
        padding-top:15%;
    }
    .top_button {
        padding: 20px 30px; /* 내부 여백 설정 */
        font-size: 20px; /* 폰트 크기 설정 */
    }
    .mid_area_1, .mid_area_2 {
        flex-direction: column; /* 세로 방향으로 변경 */
        align-items: center; /* 가운데 정렬 */
        justify-content: center; /* 내용물을 중앙으로 정렬 */
    }
    .mid_button {
        margin-right: 0; /* 세로 배치 시 오른쪽 마진 제거 */
        width: 100%; /* 너비를 조정하여 가운데 정렬 유지 */
        margin-top: 10px;
    }
    .main_bottom_button{
        width: 100%;
    }
    .main_bottom_1 {
        flex-direction: column; /* 세로 방향으로 변경 */
        align-items: center; /* 가운데 정렬 */
        justify-content: center; /* 내용물을 중앙으로 정렬 */
    }
    .bottom_div{
        margin-bottom: 20%;
    }
}

/* 태블릿 및 데스크탑 화면에서 이미지 보이기 */
@media (min-width: 769px) {
    .img_main {
        display: block; /* 화면이 769px 이상일 때 이미지 보이기 */
    }
} 