@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SokchoBadaDotum';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*  사용 법 */
/*
    background-color: var(--background-color);
    color: var(--green-color);
*/ 
:root {
    --green-color: #005A4E;  
    --red-color: #FD6461;
    --yellow-color: #FFB600; 
    --ivory-color: #FCF6E4; 
    --brown-color: #461310; 
    --gray-color: #FAFAFA;
}

/* className='link' */
.link {
    color: black;
    text-decoration: none;
}

.line {
	border-top: 1px solid rgba(128, 128, 128, 0.3); /* 투명도를 포함한 회색 선 */
}

.line-bold {
    border-top: 2px solid rgb(95, 95, 95);
    margin-bottom: 20px;
  }

*{
    user-select: none; /* 드래그 금지 */
}

