/* 
* {
	box-sizing : border-box;
	margin: 0;
    font-family: 'Pretendard-Regular'; 
}
/* 캘린더 최고 부모 */
/*.calendar-box {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 550px;
}

.react-calendar {
    text-align: center;
    margin-inline-end: 0;
}

.react-calendar__month-view__days {
    width: 550px;
}
.react-calendar__navigation button {
    background-color: white;
    border: none;
    font-size: 20px;
}

.react-calendar__navigation {
    display: flex;
    justify-content: cneter;
    margin-bottom: 40px;
}

.react-calendar__month-view__weekdays {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}


.react-calendar__month-view__days  button{
    background-color: white;
    border: none;
    padding: 0;
    height: 78.55px;
    font-size: 14px;
    border-radius: 100%;
    cursor: pointer;
}

.react-calendar__month-view__weekdays abbr {
    text-decoration: none;
    font-weight: 800;
  }

 
.react-calendar__month-view__days  button:hover{
    background-color: #Fafafa;
}

.react-calendar__month-view__days  button:active{
    background-color: #F1FFF2;
}

오늘 날짜
.react-calendar__tile--now {
    font-weight: 700;
    color: #005A4E;
  }
 

  .react-calendar__tile--now{
    background-color: #292929;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
  }


  .react-calendar__tile--active {
    color: #005A4E;
    font-weight: 700;
    background-color: #F1FFF2;
    border-radius: 100%;
  }

  .react-calendar__tile--active button{
    background-color: #F1FFF2;
  }

  .highlight {
    background: #f3a95f;
  } */

  * {
	box-sizing : border-box;
	margin: 0;
    font-family: 'Pretendard-Regular'; 
}

.calendar-box {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

  .react-calendar {
    background-color: white;
    border: none;
    width: 500px;
  }

 /* 날짜 버튼 가운데 정렬 */
  .react-calendar__navigation {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  /* 날짜 버튼 디자인 */
  .react-calendar__navigation button {
    background-color: white;
    border: none;
    font-size: 20px;
    margin-bottom: 20px;
}

    /* 요일 밑에 점선 지우고 진하게 */
    .react-calendar__month-view__weekdays abbr {
        text-decoration: none;
        
        font-weight: 700;
    }

    /* 요일 밑에 마진 */
    .react-calendar__month-view__weekdays {
        margin-bottom: 15px;
        text-align: center;
    }

    /* 날짜 테두리 없애기 */
   .react-calendar__month-view__days button {
    border: none
   }

 

   /* 날짜 뒤 배경색 바꾸기 */
   .react-calendar__tile {
    background-color: white;
    font-size: 14px;
    height: 71.42px;
    cursor: pointer;
   }

   /* 날짜 뒤 배경색 바꾸기 */
   .react-calendar__tile:hover{
    background-color: white;
    font-size: 14px;
    height: 71.42px;
    background-color: #F1FFF2;
    border-radius: 100%;
   }

   /* 저번 달 & 다음 달 일자 */
.react-calendar__month-view__days__day--neighboringMonth{
    /* color:white; */
    color:#9d9d9d;
    
}


    /* 오늘 날짜 */
    .react-calendar__tile--now{
        background-color: #Fafafa;
        color: #005A4E;
        
        font-weight: bold;
        border-radius: 100%;
      }

       /* 선택된 날짜의 배경색 변경 */
  .react-calendar__tile--active {
    background-color:  #F1FFF2;
    color: #005A4E;
    
    font-weight: bold;
    border-radius: 100%;
  }


