@import './../css/App.css';


/* css 초기화 */
* {
	box-sizing : border-box;
	margin: 0;
    font-family: 'Pretendard-Regular'; 
}

a {
	color: inherit; 
	text-decoration: none;
}


button,
input,
textarea {
	font-family: "적용할 폰트", sans-serif;
	font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
	outline: none;
	box-shadow: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}


/* 작은 화면에서 숨김처리 */
.nav-profile-img,
.nav-nickName,
.h1 {
    display: none;
}

.mypage-ul li{
    width: 100%;  
    display: inline-block;
    
}

.mypage-ul{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.mypage-menu-active{
    border-radius: 5px;
    background-color: #005A4E;
    color:white;
}



.mypage-ul li a{ 
    
    display: flex;
    justify-content: center;
    padding: 20px 0 ;
    font-size: 14px;
}

.contents {
    /* min-height: 1000px; */
    padding: 30px;
}

.title {
    margin-left: 10px;
    color: #005A4E;
}

.title-line {
    width: 100%;
    border: 1px solid #005A4E;
    margin: 10px 0;
}
/* 템플릿 이후 */
.order-box{
    width: 100%;
    border-radius: 10px;
    padding: 35px 30px 30px;
    box-shadow: 4px 4px 10px 0 #EFEFEF;
    margin-bottom: 15px;
}

.delivery-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.order-date {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
}

/* 배송 상태 */
.delivery-status {
    font-size: 14px;
    color: red;
}

.product-box {
    display: flex;
    margin-bottom : 15px;
}

.product-img img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.order-info p {
    margin-bottom: 10px;
}

.order-info >:first-child {
    font-size: 18px;
}

.order-info >:nth-child(2) {
    font-size: 20px;
    font-weight: 700;
}

/* 주소 */
.order-info >:last-child {
    font-size: 14px;
    color: #4b4b4b;
    overflow: hidden;
}

.payment {
    font-size: 18px;
    font-weight: 700;
    
}

.order-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery-btn {
        width: 50%;
        height: 45px;
        border-radius: 10px;
        border: none;
    
        font-size: 16px;
        color: #005A4E;
        background-color: white;
    
        transition: all ease-in-out 0.15s;
    
        cursor: pointer;

        padding: 10px 15px;
    border: 1px solid #005A4E;
    
    }
    
.delivery-btn:hover {
    background-color: #F1FFF2;

}

@media (min-width: 640px) {

   

    .order-section {
        padding: 0 250px 100px;
        width: 100%;
        display: flex;
        background-color: #FAFAFA;background-color: #FAFAFA;
        
    }

    .nav {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 200px;

        align-items: center;
        width: 250px;
        height: 580px;
        border-radius: 15px;
        padding-top: 40px;
        margin-right: 30px;
        background-color: white;
    }    


    .nav-profile-img{
        display: block;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        border-radius: 100%;
        background-color: black;
    }

    .nav-nickName {
        font-size: 20px;
        display: block;
    }

    .h1 {
        width: 60%;
        margin: 10px 0;
        display: block;
    }

    .mypage-ul li {
      
        width: 250px;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
    }
    
    .mypage-ul{
        flex-direction: column;
        margin-bottom: 0;
    }

    .mypage-ul li a{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px 0 ;
        font-size: 20px;
    }
    
    /* 컨텐츠 영역 */
.contents{
    width: 80%;
    padding: 50px;
    margin-top: 90px;

    border-radius: 15px;
    background-color: white;
}

/* 템플릿 이후 */

}